PadSYNC.Model/Service References/AssignCourseServiceReference/AssignCourseWCFService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cloud.Configuration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cloud.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://course.xueda.com/wcf/AssignCourseWCFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://course.xueda.com/wcf/AssignCourseWCFService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Cloud" />
  <xs:complexType name="EmptyObject">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_Children" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element name="_CurrentParent" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cloud" name="_FileInfo" nillable="true" type="q2:FileInfo" />
      <xs:element name="_HostID" type="xs:long" />
      <xs:element name="_ID" type="xs:long" />
      <xs:element name="_Path" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cloud" name="_State" type="q3:ObjectState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmptyObject" nillable="true" type="tns:EmptyObject" />
</xs:schema>