PadSYNC.Model/Service References/AssignCourseServiceReference/AssignCourseWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cloud.BackOffice.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cloud.BackOffice.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobID" type="xs:long" />
      <xs:element minOccurs="0" name="JobPassportID" type="xs:long" />
      <xs:element minOccurs="0" name="PassportID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserToken" nillable="true" type="tns:UserToken" />
</xs:schema>